.clickable {
    cursor: pointer;
}
.done {
    text-decoration: line-through;
}
li {
    min-height: 20px;
}
.row {
    display: flex;
    flex-direction: row;
}
.icon-delete {
    align-self: center;
}
.flex {
    flex-grow: 1;
}