<a class="github-fork-ribbon" href="http://github.com/luk707/todo-redux/" title="Fork me on GitHub">Fork me on GitHub</a>
<div class="brand-container">
  <h1 class="brand">todo-redux</h1>
</div>
<div class="container">
  <section class="todo">
    <ul 
      app-todo-add
      class="todo-controls"
      (new)="NewTodo($event)"></ul>
      
    <!--<ul class="todo-controls">
    <li><a class="clickable icon-add">Add</a></li>
    <li><a class="clickable icon-delete">Delete</a></li>
    <li class="right"><a class="clickable icon-settings">Settings</a></li>
    </ul>-->

    <ul
      app-todos
      class="todo-list"
      [todos]="state.todos"
      (toggle)="ToggleTodo($event)"
      (remove)="RemoveTodo($event)"></ul>
  </section>
</div>